@mixin site-button($radius: 20px) {
    background-color: #70addc;
    border-radius: $radius;
    color: #fff;
    padding: 11px 16px;
    font-family: Gill-Sans;
    font-size: 15px;
    line-height: 17px;
    font-weight: 300;
    letter-spacing: 0;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    scale: 1;
    border: none;
    transition: all .3s;

    &:hover {
        scale: 1.05;
        border: solid 1px #fff;
    }
}

@mixin trip-tile($imgpath) {
    width: 236px;
    height: 304px;
    background-image: linear-gradient(to right, rgba(0 , 0, 0, .5)), url($imgpath);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    margin-bottom: 55px;

    .top {
        width: 100%;
        height: 50%;
        text-align: center;
        padding-top: 50px;
    
        h1 {
            font-family: Proxima-Nova;
            font-size: 60px;
            line-height: 73px;
            font-weight: 100;
            letter-spacing: 0;
            text-transform: uppercase;
        }

        h3 {
            font-family: Proxima-Nova;
            font-size: 30px;
            line-height: 37px;
            font-weight: 100;
            letter-spacing: 0;
            text-transform: lowercase;
        }
    }

    .bottom {
        width: 100%;
        height: 50%;
        padding-bottom: 50px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-end;

        a {
            text-decoration: none;

            .learn-more {
                @include site-button(20px);
                max-width: 133px;
                max-height: 40px;
                margin-top: 20%;
            }
        }
    }
}

@mixin tour-template($imgpath) {

    .hero {
        width: 80%;
        height: 413px;
        position: relative;
        margin-bottom: 40px;
        background-image: linear-gradient(to right, rgba(0 , 0, 0, .5)), url($imgpath);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        h1 {
            position: absolute;
            top: 40px;
            left: 30px;
            margin-bottom: 0;
            font-family: Proxima-Nova;
            font-size: 80px;
            line-height: 96px;
            font-weight: 200;
            color: #fff;
        }

        h5 {
            position: absolute;
            bottom: -9px;
            right: -2px;
            margin-bottom: 0;
            font-family: Proxima-Nova;
            font-size: 30px;
            line-height: 36px;
            font-weight: 200;
            color: #fff;
            text-transform: uppercase;
        }
    }

    .photos {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
        flex-wrap: wrap;

        img {
            width: 298px;
            height: 347px;
        }
    }

    .itinerary {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;

        .day {

            h2 {
                font-family: Proxima-Nova;
                font-size: 60px;
                line-height: 72px;
                font-weight: 200;
                letter-spacing: 6px;
                color: #000;
                margin-bottom: 39px;

                span {
                    border-bottom: solid 2px #000;
                }
            }

            p {
                font-family: Gill-Sans;
                font-size: 16px;
                line-height: 19px;
                font-weight: 200;
                color: #000;
                margin-bottom: 85px;
            }
        }

        a {
            width: 133px;
            height: 40px;
            text-decoration: none;
            margin-bottom: 100px;

            .book {
                width: 100%;
                height: 100%;
                @include site-button(20px)
            }
        }
    }
}
